* {
    margin: 0;
    padding: 0;
}

.cabecera {
    text-align: left;
    color: white;
    background-color: #00a8ff;
    padding: 30px;
}

.inicio {
    background-color: #f5f6fa;
    text-align: center;
}

.inicio li {
    list-style: none;
    padding: 10px 20px;
    display: inline-block;
    font-size: 20px;
}

.mensaje {
    padding: 10px;
    font-size: 30px;
}

.variedad {
    text-align: center;
    font-size: 40px;
}

.cuerpo {
    width: 100%;
    margin: auto;
}

.articulouno {
    width: 65%;
    padding: 10px;
    font-size: 18px;
}

.articulodos {
    width: 65%;
    padding: 10px;
    font-size: 18px;
}

.articulotres {
    width: 65%;
    padding: 10px;
    font-size: 18px;
}

.articulocuatro {
    width: 65%;
    padding: 10px;
    font-size: 18px;
}

footer {
    text-align: center;
    background-color: #3d3d3d;
    color: white;
    padding: 15px;
}